<h1><%= @nonprofit.name %></h1>

<div class="nonprofit-description">
  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla consectetur sed mi tempus euismod. Sed non lacus luctus, feugiat risus non, luctus urna. Etiam mollis ullamcorper blandit. Praesent sit amet sodales nibh, in sagittis libero. Morbi iaculis maximus mauris, eu dignissim neque finibus et. Nullam ullamcorper faucibus felis, sed imperdiet dolor aliquet ac. Sed venenatis vel nisl vel venenatis. Aliquam sollicitudin ligula at placerat rutrum.</p>
  <p>Cras nisl tellus, elementum sit amet lorem et, vulputate vulputate erat. Duis fermentum sem non lectus dictum, quis pretium felis elementum. Pellentesque elementum tellus risus, eu cursus massa tempor quis. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Nulla facilisi. Fusce fringilla ante in orci iaculis, vitae porta velit posuere. Morbi sodales nisl eu tristique consectetur.</p>
  <p>Nunc lorem eros, fringilla sed rhoncus in, hendrerit nec orci. Vestibulum placerat vulputate tempor. Maecenas id erat id nibh iaculis faucibus sit amet vel diam. Integer sed suscipit libero, nec tincidunt turpis. Proin placerat, sapien quis aliquet accumsan, nibh nulla pretium nisl, non lacinia neque elit nec mauris. Aliquam facilisis eros ac felis lacinia ornare. Maecenas interdum orci nec lacus porttitor consequat eu sed velit. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Phasellus scelerisque volutpat ipsum eu consectetur. Sed velit eros, scelerisque eget ultricies sit amet, cursus eget sem. Aliquam consequat eget diam a blandit. Mauris eu hendrerit diam. Suspendisse potenti. Nulla id velit nunc. Pellentesque ac faucibus nisl. Donec nec tellus nec elit tempor eleifend nec eu enim.</p>
</div>

<%= link_to "Make a Donation", new_nonprofit_donation_path %>



